<ion-view title="About">
<ion-nav-buttons side="left">
  <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
  <ion-content class="has-header">

<div class="about-top"></div>
    
<div class="padding">
	<h4 style="color:black">Read Every Day.  Lead a Better Life.</h4><br>
	<p>The name "Scholastic" evokes warm memories from those who treasured their childhood experiences with us and trust among those who depend on us for quality materials today. For more than 90 years, we've been delivering outstanding books, magazines and educational programs directly to schools and families through channels that have become childhood traditions – Scholastic Book Fairs, monthly Reading Club flyers, and Scholastic News classroom magazines.</p> <p>Today, we're in more than 90% of schools in the U.S. – and our partnership with educators is something we cherish. More than half of the teachers in the U.S. have an active account with Scholastic, tapping into free offerings like our teaching resources, Scholastic.com activities and lesson plans, and ordering through Club Ordering Online (COOL), The Teacher Store Online and the Scholastic Store Online.</p>
	
	<p>The world has changed immensely since Scholastic was established in 1920, and yet the customers we serve still have the same needs: quality, affordable books and entertaining and engaging educational materials and media to help children learn to read and love to learn. Our teacher, parent and child customers remain at the heart of everything we do. We base our product development on expert research, and we measure our success by gathering constant feedback from our teacher and principal advisory panels, our field teams working with school leaders across the country, and from the parents, teachers and students we serve.</p>
	<center><img src="img/scholastic-red.png" /></center>

  </ion-content>
</ion-view>
