<ion-view title="Backordered Items">
  <ion-nav-buttons side="right">
<!--    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
<!--<button class="button">Edit</button>-->
  </ion-nav-buttons>
  <ion-content class="has-header">
    
    <div class="list">
        <a class="item item-thumbnail-left" href="#">
          <img src="http://shop.scholastic.com/content/stores/media/products/16/9780439321716_lg.jpg">
          <h2>David Goes to School</h2>
          <p># of Items: 1<br>
          Ref #: <strong>T44655215</strong></p>
          <span class="badge badge-assertive">Backorder</span>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="http://shop.scholastic.com/content/stores/media/products/55/9780439924955_lg.jpg">
          <h2>Ruby the Copycat</h2>
          <span class="badge badge-assertive">Backorder</span>
          <p># of Items: 1<br>
          Ref #: <strong>T44655215</strong></p>
        </a>        
    </div>
    <p class="padding text-center">Please note: Backordered items will ship separately from your original order.</p>
  </ion-content>
</ion-view>
