<ion-view title="Order Details">
  <ion-nav-buttons side="right">
<!--    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
  </ion-nav-buttons>
  <ion-content class="has-header">
    
    <div class="list">
<div class="item item-button-right" style="border-top: 1px solid #fff;" href="#/app/reading-club/manage-orders/order-details">
  <h2>Reading Club for Teachers</h2>
  <p>Ref #: <strong>T32411544</strong><br>
  Order Date: <strong>February 11, 2014</strong><br>
  Estimated Delivery: <strong><font class="balanced">February 16, 2014</font></strong></p>
  <button class="button button-small button-stable" style="font-size:12px;border-radius: 20px;font-weight: bold;">
        &nbsp;&nbsp;Track&nbsp;&nbsp;
      </button>
</div>
    <div class="item" href="#">
      Catalog<span class="item-note">Arrow 5th Graders May</span>
    </div>
    <div class="item" href="#">
      Shipping Boxes<span class="item-note">1</span>
    </div>
    <div class="item" href="#">
      Order Status<span class="item-note">Shipping to School</span>
    </div>
    </div>
    <div class="list">
        <div class="item item-thumbnail-left item-text-wrap" href="#">
          <img src="http://shop.scholastic.com/content/stores/media/products/48/9780545163248_lg.jpg">
          <h2>Literacy Lessons to Help Kids Get Fit & Healthy</h2>
          <span class="item-note">$15.74</span>
          <p>Quantity: <strong>1</strong><br>
          Item #: <strong>9780545163248</strong></p>
        </div>
        <div class="item item-thumbnail-left item-text-wrap" href="#">
          <img src="http://shop.scholastic.com/content/stores/media/products/26/9780545192026_lg.jpg">
          <h2>Engaging Readers & Writers With Inquiry</h2>
          <span class="item-note">$18.26</span>
          <p>Quantity: <strong>1</strong><br>
          Item #: <strong>9780545192026</strong></p>
        </div>
    </div>
    <div class="list">
    <div class="item" href="#">
      Parents Paid Online
      <span class="item-note">$0.00</span>
    </div>
    <div class="item" href="#">
      Subtotal
      <span class="item-note">$34.00</span>
    </div>
    <div class="item" href="#">
      Shipping
      <span class="item-note">$0.00</span>
    </div>
    <div class="item" href="#">
      <strong>Total Amount</strong>
      <span class="item-note"><strong>$34.00</strong></span>
    </div>
    </div>
    <div class="list">
      <div class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios7-location-outline"></i>
        Shipping Address
<i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios7-pricetag-outline"></i>
        Billing Address
<i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios7-star-outline"></i>
        Rate Your Purchase
<i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
