<ion-view title="Request Order Forms">
  <ion-nav-buttons side="right">
<!--    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
  </ion-nav-buttons>
  <ion-content class="has-header">
        <div class="list">
        <a class="item item-thumbnail-left item-icon-right" href="#">
          <img src="./img/guided-reading.png">
          <h2>Guided Reading: Fiction Focus</h2>
          <p><strong>2nd Edition</strong></p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a class="item item-thumbnail-left item-icon-right" href="#">
          <img src="http://shop.scholastic.com/content/stores/media/products/75/9780545298575_lg.jpg">
          <h2>Lego City: Work This Farm!</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </div>
   </ion-content>
</ion-view>
