<ion-view title="Book Review">
  <ion-nav-buttons side="right">
<!--    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
<!--<button class="button">Edit</button>-->
  </ion-nav-buttons>
  <ion-content class="has-header">
  <div class="padding">
  <h4 style="color:black;">Pete the Cat: I Love My White Shoes</h4><p>Eric Litwin</p></div>
  
  <ion-slide-box does-continue="false" style="background:#fff;padding: 6px 0px 10px;">
    <ion-slide><center><div class="cover"><img src="http://ecx.images-amazon.com/images/I/71DYPJVp-2L.jpg" alt="" /></div></center></ion-slide>
    <ion-slide><center><div class="cover"><img src="http://ecx.images-amazon.com/images/I/41FikR4cagL.jpg" alt="" /></div></center></ion-slide>
  </ion-slide-box>
    
    <div class="list">
    <div class="item item-divider">
        Description
      </div>
        <div class="item item-text-wrap item-icon-right" href="#/app/lounge/reviews/review-details-1">
           <p>Pete is one cool cat! In this splashy picture-book companion to the rock-and-roll kids' song, Pete doesn't let anything keep him from movin' and groovin' and singin' his song.</p>
           <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
        
        <div class="item item-divider">
            Featured Review
          </div>
<div class="item item-text-wrap" href="#">
  <h3>Hannabannana rated it: <i class="icon ion-ios7-star energized"></i><i class="icon ion-ios7-star energized"></i><i class="icon ion-ios7-star energized"></i><i class="icon ion-ios7-star energized"></i><i class="icon ion-ios7-star energized"></i></h3>
  <p><strong>White Shoes</strong><br>We love this book so much, we can't keep ourselves from "singing the song"... One day I was rushing to get to work and shuffling through the fridge I accidentally spilled a whole bowl of pickled beets onto the floor and it splattered and got on my new white sneakers! I took a deep breath and began to laugh and started to sing..."I love my red shoes...." my 2 1/2 year old started singing with me!</p>
  <p><strong>Classroom Uses:</strong> Reading Aloud<br>
  <strong>Great for:</strong> Giving as a Gift, Belly Laughing</p>
</div>
<div class="item item-icon-right" href="https://clubs2.scholastic.com/webapp/wcs/stores/servlet/ProductDisplay?storeId=11151&catalogId=10001&langId=-1&productId=534860" target="_blank">
  View all Reviews
  <i class="icon ion-chevron-right icon-accessory"></i>
</div>
<div class="item item-divider">
    Add Your Review
  </div>
  <div class="item" href="#">
      Rate this book:<span class="item-note"><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i><i class="icon ion-ios7-star-outline"></i></span>
    </div>
  <div class="item item-icon-right" href="#">
      Write a review:
      <i class="icon ion-chevron-right icon-accessory"></i>
    </div>
  <div class="item item-icon-right" href="#">
      Add to my Wish List
      <i class="icon ion-chevron-right icon-accessory"></i>
    </div><br>
    </div>
  </ion-content>
</ion-view>
