<ion-view title="Book Reviews">
  <ion-nav-buttons side="right">
<!--    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
<!--<button class="button">Edit</button>-->
  </ion-nav-buttons>
  <ion-content class="has-header">
  <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
    <button class="button button-clear">
      Cancel
    </button>
  </div>
    
    <div class="list">
    
        <a class="item item-thumbnail-left item-text-wrap" href="#/app/lounge/reviews/review-details-1">
          <img src="http://store.scholastic.com/content/stores/media/products/02/9780439873802_default_pdp.gif">
          <h2>There Was an Old Lady Who Swallowed a Shell!</h2>
          <span class="item-note"><i class="icon ion-chevron-right icon-accessory"></i></span>
          <p>Lucille Colandro<br>Avg Review: <i class="icon ion-ios7-star energized"></i><i class="icon ion-ios7-star energized"></i><i class="icon ion-ios7-star energized"></i><i class="icon ion-ios7-star energized"></i><i class="icon ion-ios7-star-half energized"></i> (8)</p>
        </a>
        <a class="item item-thumbnail-left item-text-wrap" href="#/app/lounge/reviews/review-details-2">
          <img src="https://clubs2.scholastic.com/wcsstore/ExtendedSitesCatalogAssetStore/images/products/66/9780545419666_default_xl.gif">
          <h2>Pete the Cat: I Love My White Shoes</h2>
          <span class="item-note"><i class="icon ion-chevron-right icon-accessory"></i></span>
          <p>Eric Litwin<br>Avg Review: <i class="icon ion-ios7-star energized"></i><i class="icon ion-ios7-star energized"></i><i class="icon ion-ios7-star energized"></i><i class="icon ion-ios7-star energized"></i><i class="icon ion-ios7-star energized"></i> (18)</p>
        </a>
        

    </div>
  </ion-content>
</ion-view>
