<ion-view title="Classroom & Community" class="sccg">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
<!--  <ion-nav-buttons side="right">
      <button class="button icon ion-bag"></button>
  </ion-nav-buttons>-->
  <ion-content class="has-header">
	<ion-slide-box does-continue="true" style="background:#fff;padding: 0px 0px 1px;">
	  <ion-slide><a href="http://shop.scholastic.com/teacherstore" target="_blank"><div class="flyers"><img src="./img/teacher-store.png" alt="" /></div></a></ion-slide>
	  <ion-slide><a href="http://teacher.scholastic.com/products/classroombooks/" target="_blank"><div class="flyers"><img src="./img/classroom-books.gif" alt="" /></div></a></ion-slide>
	  <ion-slide><a href="http://teacher.scholastic.com/products/guidedreading/"><div class="flyers"><img src="./img/guided-reading-2.png" alt="" /></div></a></ion-slide>
	  <ion-slide><a href="http://teacherexpress.scholastic.com"><div class="flyers"><img src="./img/teacher-express.jpg" alt="" /></div></a></ion-slide>
	</ion-slide-box>
    <ion-list>
		<div class="button-bar">
		  <a style="color:#3C5A96" class="button icon ion-social-facebook button-light" href="http://www.facebook.com/scholasticreadingclub" target="_blank"><!--Facebook--></a>
		  <a style="color:#59ADEB" class="button icon ion-social-twitter button-light" href="http://www.twitter.com/scholastic" target="_blank"><!--Twitter--></a>
		  <a style="color:#2D4861" class="button icon ion-social-tumblr button-light" href="http://scholasticreadingclub.tumblr.com/" target="_blank"><!--Tumblr--></a>
		  <a style="color:#C9232D;" class="button icon ion-social-pinterest button-light" href="http://www.pinterest.com/scholastic" target="_blank"><!--Pinterest--></a>
		  <a style="color: #366489" class="button icon ion-social-instagram-outline button-light" href="http://instagram.com/scholasticreadingclub" target="_blank"><!--Instagram--></a>
		  <a style="color: #2085B9" class="button icon ion-social-linkedin button-light" href="http://www.linkedin.com/company/scholastic" target="_blank"><!--Blog--></a>
		</div>
     <a class="item item-icon-left item-icon-right" href="http://shop.scholastic.com/teacherstore" target="_blank">
       <i class="icon ion-ios7-cart-outline"></i>
<h2>The Teacher Store</h2>
<i class="icon ion-chevron-right icon-accessory"></i>
     </a>
     <a class="item item-icon-left item-icon-right" href="#/app/sccg/shipping">
       <i class="icon ion-ios7-calculator-outline"></i>
<h2>Shipping Information</h2>
<i class="icon ion-chevron-right icon-accessory"></i>
     </a>
     <a class="item item-icon-left item-icon-right" href="#/app/sccg/order-forms">
       <i class="icon ion-ios7-compose-outline"></i>
<h2>Request Order Form</h2>
<i class="icon ion-chevron-right icon-accessory"></i>
     </a>
     <a class="item item-icon-left item-icon-right" href="#/app/sccg/programs">
       <i class="icon ion-ios7-information-outline"></i>
<h2>Program Information</h2>
<i class="icon ion-chevron-right icon-accessory"></i>
     </a>
     <a class="item item-icon-left item-icon-right" href="#">
       <i class="icon ion-ios7-bookmarks-outline"></i>
<h2>Order History</h2>
<i class="icon ion-chevron-right icon-accessory"></i>
     </a>
     <a class="item item-icon-left item-icon-right" href="#/app/sccg/resources">
       <i class="icon ion-ios7-copy-outline"></i>
<h2>Resources</h2>
<i class="icon ion-chevron-right icon-accessory"></i>
     </a>
     <a class="item item-icon-left item-icon-right" href="#/app/sccg/products">
       <i class="icon ion-ios7-gear-outline"></i>
<h2>Products & Services</h2>
<i class="icon ion-chevron-right icon-accessory"></i>
     </a>
     <a class="item item-icon-left item-icon-right" href="#/app/sccg/sccg-faqs">
       <i class="icon ion-ios7-bookmarks-outline"></i>
<h2>FAQs for Classroom & Community</h2>
<i class="icon ion-chevron-right icon-accessory"></i>
     </a>
     <a class="item item-icon-left item-icon-right" href="#/app/sccg/sccg-contact">
       <i class="icon ion-ios7-telephone-outline"></i>
<h2>Contact Us</h2>
<i class="icon ion-chevron-right icon-accessory"></i>
     </a>
     </ion-list>
  </ion-content>
</ion-view>
