<ion-view title="SeeSaw">
  <ion-nav-buttons side="right">
<!--    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
  </ion-nav-buttons>
  <ion-content class="has-header">
    
    <div class="list">
    
        <a class="item item-thumbnail-left item-icon-right" href="https://clubs2.scholastic.com/wcsstore/ExtendedSitesCatalogAssetStore/Attachment/catalogs/N_10_flyer.pdf" target="_blank">
          <img src="./img/seesaw-K.png">
          <h2>SeeSaw Kindergarten</h2>
          <p>June 2014</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        
        <a class="item item-thumbnail-left item-icon-right" href="https://clubs2.scholastic.com/wcsstore/ExtendedSitesCatalogAssetStore/Attachment/catalogs/S_10_flyer.pdf" target="_blank">
          <img src="./img/seesaw-1st.png">
          <h2>SeeSay 1st Graders</h2>
          <p>June 2014</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

    </div>
  </ion-content>
</ion-view>
