<ion-view title="Shipping Info">
  <ion-nav-buttons side="right">
<!--    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
<!--<button class="button">Edit</button>-->
  </ion-nav-buttons>
  <ion-content class="has-header">
    
<div class="list" ng-repeat="item in invoice.items">
<!--		<label class="item item-input">
		    <span class="input-label">Order Total</span>
		    <input type="text" ng-model="item.description" class="input-small">
		</label>-->
		<label class="item item-input item-stacked-label">
		    <span class="input-label">Enter Your Order Total</span>
		    <input type="number" style="font-size: 26px; font-weight:normal;" ng-model="item.ordtotal">
		</label>
		<label class="item item-input" style="display:none;">
		    <span class="input-label">Standard Shipping Charges</span>
		    <input type="text" ng-model="item.stdcost">
		</label>
		<label class="item item-input" style="display:none;">
		    <span class="input-label">Two Day Shipping Charges</span>
		    <input type="text" ng-model="item.cost">
		</label>
		<label class="item item-input" style="display:none;">
		    <span class="input-label">Two Day Shipping Charges</span>
		    <input type="text" ng-model="item.onecost">
		</label>
	<br>
	<div class="item item-divider">
	    Estimated Shipping Totals
	  </div>
		<div class="item">
		    Standard Shipping
		    <span class="item-note">{{item.ordtotal * item.stdcost | currency}}</span>
		</div>
		<div class="item">
		    Expedited Shipping
		    <span class="item-note">{{item.ordtotal * item.onecost | currency}}</span>
		</div>

<!--          <tr ng-repeat="item in invoice.items">-->
              <!--<li class="item"><input type="text" ng-model="item.description"></li>           
              <li class="item"><input type="number" ng-model="item.ordtotal" ng-required></li>
              <li class="item"><input type="number" ng-model="item.stdcost" ng-required></li>
              <li class="item"><input type="number" ng-model="item.cost" ng-required></li>
              <li class="item">{{item.ordtotal + item.stdcost | currency}}</li>
              <li class="item">{{item.ordtotal + item.cost | currency}}</li>-->
          </div>
<!--          <div class="padding">
          <p>* Free Standard shipping applies to orders that <strong>only</strong> include books and are $35.00 or greater.</p>
          <p>** <strong>Two Day shipping</strong> orders and <strong>One Day shipping</strong> orders must be placed by 11:30 a.m. EST (during
          business days/Mon-Fri) in order to be processed on the same business day.
          <strong>Two Day</strong> and <strong>One Day</strong> shipping is not available for shipping to P.O. boxes, APO/FPO, and
          <strong>U.S. territories</strong>.</p>
          </div>-->
  
  </ion-content>
</ion-view>
