/* Empty. Add your own CSS if you like */

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

h1 {
	font-size: 18px !important;
}

h4 {
	color: #4D4D4D;
	margin-bottom: 0px !important;
}

.wide-as-needed {
  white-space: nowrap;
  /*  overflow-x: scroll; /*
  /*  -webkit-overflow-scrolling: touch;  */
}
.scroll { 
  min-width: 100%;
}

.item-note {
	font-size: 18px;
	color: black;
}

.club-logo {
	background: url(../img/reading-club.png);
	height: 43px;
	width: 300px;
	margin: 0 auto;
}

.bookfairs-logo {
	background: url(../img/bookfairs-logo.png);
	height: 43px;
	width: 218px;
	margin: 0 auto;
}

.sccg-logo {
	background: url(../img/sccg-logo.png);
	height: 72px;
	width: 293px;
	margin: 0 auto;
}

.scholastic-logo {
	background: url(../img/scholastic-red.png);
	height: 78px;
	width: 210px;
	margin: 0 auto;
}

.tagline {
	text-wrap: unrestricted;
}

.triangles {
	background: url(../img/triangles.png);
	height: 0px;
	margin-bottom: 0px;
}

.due-date {
	font-size: 16px;
	font-weight: normal;
	color: black;
}

.item-input input {
  text-align: right;
  font-size: 16px;
  font-weight: bold; 
}

/*.scroll-content {
	background: #F2F0EC;
	padding-top: 10px;
}*/

.bar-assertive {
	background: #F20017;
	border: none !important;
	margin-bottom: 0px !important;
}


/*.list {
	padding-top: 0px;
}*/

/*.dark-menu {
  background-color: #4D4D4D !important;
  color: #ffffff;
}*/

.side-styles .item {
         font-weight: 500;
}

.cover	{
	width: 100%;
	height: 198px;
	text-align: center;
	align-content: center;
}

.cover img {
	width: 130px;
	height:163px;
	align-content: center;
	text-align: center;
}

.flyers {
	width: 100%;
	height: 130px;
}

.flyers img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

div.flyers.honeybee {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #F8B552),
		color-stop(1, #F8A751)
	);
	background-image: -o-linear-gradient(bottom, #F8B552 0%, #F8A751 100%);
	background-image: -moz-linear-gradient(bottom, #F8B552 0%, #F8A751 100%);
	background-image: -webkit-linear-gradient(bottom, #F8B552 0%, #F8A751 100%);
	background-image: -ms-linear-gradient(bottom, #F8B552 0%, #F8A751 100%);
	background-image: linear-gradient(to bottom, #F8B552 0%, #F8A751 100%);
}

div.flyers.system-44 {
	background: url(../img/44-bg.png) 0 0 repeat-x;
}

div.flyers.math-180 {
	background: url(../img/math-bg.png) 0 0 repeat-x;
}


div.pager-white.slider .slider-pager .slider-pager-page {
	color: white !important;
}

div.pager-none.slider .slider-pager .slider-pager-page {
	display: none !important;
}

div.fairs {
	width: 100%;
	height: 150px;
	margin-top: 0px;
}

.fairs img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    z-index: 500;
}

div.flyers.honeybee img {
	padding-top: 0px;
}

div.flyers.firefly img {
	padding-top: 8px;
}

div.about-top {
	background: #B29B8F url(../img/about-bg.png) top right no-repeat;
	height: 120px;
	width: 100%;
}

div.about-top img {
	height: 100%;
	width: 100%;
}

div.about-txt {
	background: black;
	opacity: 0.5;
	width: 190px;
	height: 80px;
	padding-top: 14px;
}

div.about-txt h4 {
	font-size: 20px;
	margin-top: 0px;
	color: white;
	padding-left: 12px;
	font-weight: normal;
}
/*Changes the border for the last item*!/
.dark-menu .item:last-child {
  border-bottom: 1px solid #474343;
}

/*Ion-item adds item-complex and an inner div, .item-content*!/
/* this needs to be transparent too, but doesnt need borders*!/
.dark-menu .item-complex .item-content, .mymenu .item-radio .item-content {
  background-color: transparent;
}*/